<form  action=" <%= comments_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
  <label>Content:
    <input type="text" name="comment[content]" value="<%= @comment.content %>">
  </label>


  <input type="submit" value="Post Comment">
</form>
